
.row > div > div {
    height: 2rem;
    margin: 0.1rem
}

.yellow {
    background-color: yellow;
}
.red{
    background-color: red;
}
.blue {
    background-color: blue;
}
.green{
    background-color: green;
}
.gray{
    background-color: gray;
}
.white{
    background-color: white;
}